
h1 {
  margin-top: 0;
  margin-left: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}

a {
  text-decoration: underline;
  padding: 10px;
  color: rgb(8, 8, 189);
  font-family: "Poppins", sans-serif;
}

a:hover {
  font-weight: bolder;
  color: rgb(12, 12, 82);
}
