
.calculator-container {
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
  margin: 50px auto;
}

.d-flex {
  display: flex;
}

.calculator-output {
  min-height: 20%;
  max-width: 40%;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  background-color: rgb(163, 151, 151);
}

.operator {
  padding: 20px;
  background-color: #f2e2e2;
}

.operand {
  padding: 20px;
  background-color: #f2e2e2;
}

.flex-d-c {
  flex-direction: column;
}

button {
  min-width: 10%;
  min-height: 20%;
}

.operatorRight {
  background-color: rgb(207, 101, 25);
  justify-content: flex-end;
}

.s-between {
  width: 100%;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
}

.btn-zero {
  justify-content: flex-start;
  width: 100%;
}

.calculator-bottom {
  background-color: #f2e2e2;
  max-width: 40%;
  min-width: 10%;
  min-height: 20%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.btn-dot,
.btn-equal {
  width: 100%;
}
