.calculator-container {
  padding: 20px;
  font-weight: bold;
  font-size: 28px;
  width: 100%;
  margin: 50px auto;
  justify-content: flex-end;
}

.Calculator-content {
  justify-content: flex-end;
  width: 100%;
}

.d-flex {
  display: flex;
}

.calculator-output {
  min-height: 20%;
  max-width: 40%;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  background-color: rgb(163, 151, 151);
  color: #fff;
}

.operator {
  padding: 20px;
  background-color: #f2e2e2;
}

.operator:hover {
  background-color: rgb(0, 57, 180);
  color: rgb(255, 255, 255);
}

.operand {
  padding: 20px;
  background-color: #f2e2e2;
}

.operand:hover {
  background-color: rgb(0, 57, 180);
  color: rgb(255, 255, 255);
}

.flex-d-c {
  flex-direction: column;
}

button {
  min-width: 10%;
  min-height: 20%;
}

.operatorRight {
  background-color: rgb(207, 101, 25);
  justify-content: flex-end;
}

.s-between {
  width: 100%;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
}

.btn-zero {
  justify-content: flex-start;
  width: 100%;
}

.calculator-bottom {
  background-color: #f2e2e2;
  max-width: 40%;
  min-width: 10%;
  min-height: 20%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.btn-dot,
.btn-equal {
  width: 100%;
}

.divide {
  color: black;
  font-size: small;
}

header {
  background-color: rgb(148, 148, 143);
  color: rgb(59, 59, 223);
  font-weight: bold;
  margin-top: auto;
  display: flex;
  height: 8%;
  font-family: "Poppins", sans-serif;
  position: fixed;
  box-shadow: 0 10px 10px 0 rgb(59, 59, 223);
}

.Home-Description p {
  line-height: 30px;
  text-align: justify;
  font-size: 20px;
  width: 90%;
}

.styled-content {
  padding: 8%;
  font-size: 20px;
}

nav {
  width: 30%;
  display: flex;
  gap: 2em;
  font-family: "Poppins", sans-serif;
}
