
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap";
@import "http://fonts.cdnfonts.com/css/cocogoose";

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}
